.min-vh-80 {
    min-height: 80vh;
}

.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1040;
}

.modal-content {
    z-index: 1050;
}

.custom-modal {
    height: auto;
    max-height: 400px;
}